#s1 {
	position: relative;
	top: -340px;
	left: 404px;
}
#s2 {
	position: relative;
	top: -337px;
	left: 404px;
}
#s3 {
	position: relative;
	top: -334px;
	left: 404px;
}
#s4 {
	position: relative;
	top: -487px;
	left: 490px;
}
#s5 {
	position: relative;
	top: -484px;
	left: 490px;
}
#s6 {
	position: relative;
	top: -481px;
	left: 490px;
}